[submodule "rl_finance/rltrader"]
	path = rl_finance/rltrader
	url = https://github.com/quantylab/rltrader.git
[submodule "cloud/pragmaticai"]
	path = pragai/pragmaticai
	url = https://github.com/noahgift/pragmaticai.git
[submodule "cloud/pragai-aws"]
	path = pragai/pragai-aws
	url = https://github.com/noahgift/pragai-aws.git
[submodule "pragai/spartan_ai_lifecyle"]
	path = pragai/spartan_ai_lifecyle
	url = https://github.com/noahgift/spartan_ai_lifecyle.git
[submodule "pragai/DeepScale"]
	path = pragai/DeepScale
	url = https://github.com/DeepReward/DeepScale.git
[submodule "real/deep_city"]
	path = real/deep_city
	url = https://github.com/psygrammer/deep_city.git
[submodule "rl_handson/Deep-Reinforcement-Learning-Hands-On"]
	path = rl_handson/Deep-Reinforcement-Learning-Hands-On
	url = https://github.com/PacktPublishing/Deep-Reinforcement-Learning-Hands-On.git
[submodule "real/python-real-estate"]
	path = real/python-real-estate
	url = https://github.com/wikibook/python-real-estate.git
